# Make some Fake Addresses

In [1]:
from faker import Faker
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
import random
import os

In [2]:
# initialize a generator
fake = Faker(['en-US', 'en_US', 'en_US', 'en-US'])

## Getting just the street address.

In [3]:
fake_address = [
{'FADDRESS': fake.street_address()}
for _ in range(500)]

## Convert the List to a Dataframe

In [4]:
df2 = pd.DataFrame(fake_address)

## Get the Maryland local towns from file

In [5]:
file = r"C:\Users\Chuck\Documents\PROJECTS\Hello-World\FakeHR\DATA\MD_Zip_Code_Lookup_Table.csv"

In [6]:
df = pd.read_csv(file)
df.head(5)

   Zip Code     City               County
0     20601  Waldorf       Charles County
1     20602  Waldorf       Charles County
2     20603  Waldorf       Charles County
3     20604  Waldorf       Charles County
4     20606    Abell  Saint Mary's County

## Get random localities

In [ ]:
df = df.sample(n=500)

print (df)

## Drop the indexes in preparation for the merge.

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df2.reset_index(drop=True, inplace=True)

## Merge the two dataframes.

In [ ]:
df3=pd.merge(df2,df, left_index=True, right_index=True)

## Add a State column to the dataframe.

In [ ]:
df3['STATE']='MD'

In [ ]:
df3.iloc[:,[0,2,4,1,3]]